<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
  <router id="admin">
     <route frontName="syncit_brand" id="syncit_brand">
        <module before="Magento_Backend" name="SyncIt_Brand"/>
     </route>
  </router>
</config>